$blue: rgba(51,160,255,0)
$blue2: rgba(102,184,255,0)
$blue3: rgba(168,215,255,0)
$blue4: rgba(230,243,255,0)
$orange: rgba(255,111,33,0)
$yellow: rgba(255,247,90,0)
$dark_blue: rgba(25,80,128,0)
$dark_blue2: rgba(36,112,179,0)
$dark_blue3: rgba(0,27,51,0)
$green: rgba(61,204,142,0)
$green2: rgba(54,179,124,0)
$red: rgba(255,77,97,0)
$yellow_green: rgba(137,168,44,0)
$yellow_fg: rgba(71,31,17,0.6)
$black75: rgba(0,0,0,0.75)
$black60: rgba(0,0,0,0.6)
$black40: rgba(0,0,0,0.4)
$black20: rgba(0,0,0,0.2)
$black10: rgba(0,0,0,0.1)
$light_grey: rgba(235,235,235,0)
$light_grey2: rgba(246,246,246,0)
$background_light_grey2: rgba(246,246,246,0)
$background_white: rgba(255,255,255,0)
$white: rgba(0,15,255,0)
$black: rgba(0,0,0,0)

